<div class="conteiner">
<h3>Day in the Santa Claus Cottage:</h3>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="field-full-width">
    <input matInput
           placeholder="firstName"
           formControlName="firstName">
    <mat-error *ngIf="firstName.hasError('required')">Enter your first name</mat-error>
    <mat-error *ngIf="firstName.hasError('minlength')">Minimun 2 charaters</mat-error>
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <input matInput

           formControlName="lastName"
           placeholder="lastName">
    <mat-error *ngIf="lastName.hasError('required')">Enter last name</mat-error>
    <mat-error *ngIf="lastName.hasError('minlength')">Minumum 2 characters</mat-error>
  </mat-form-field>


  <mat-form-field class="field-full-width">
    <input matInput

           formControlName="personId"
           placeholder="personId">
    <mat-error *ngIf="personId.hasError('required')">Enter your ID</mat-error>
    <mat-error *ngIf="personId.hasError('minlength')">Minimun 6 charaters</mat-error>
    <mat-error *ngIf="personId.hasError('pattern')">Not real ID</mat-error>
  </mat-form-field>

  <mat-form-field class="field-full-width">
    <input matInput
           formControlName="eMail"
           placeholder="eMail">
    <mat-error *ngIf="eMail.hasError('required')">Enter your email</mat-error>
    <mat-error *ngIf="eMail.hasError('minlength')">Minimun 2 charaters</mat-error>
    <mat-error *ngIf="eMail.hasError('email')">Not real Email</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-field">
    <input matInput [matDatepicker]="pickerDate"
           placeholder="Choose a day">
    <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerDate></mat-datepicker>
  </mat-form-field>

  <div>
    <mat-checkbox
      formControlName="termsAndConditions">

      Accept terms and conditions

    </mat-checkbox>
    <!--              <mat-error *ngIf="termsAndConditions.invalid && termsAndConditions.touched">Accept terms and conditions</mat-error>-->
  </div>
  <div>
    <button mat-raised-button class="btn"  type="button" [disabled]="!termsAndConditions.valid" (click)="onSubmit()">Varaa</button>
  </div>
</form>
</div>
<div>
  <p>Github actions harjoitustyö:
    <br>
  -ohjelmiston kääntäminen
  <br>
    -testaaminen
    <br>
    -
  Docker Imagen luonti & julkaisu</p>
</div>
